streamlit
numpy 
pandas
openai
python-dotenv
langchain 
pinecone
llama-index
llama-index-vector-stores-pinecone 
weaviate
llama-index-vector-stores-weaviate 
llama-index-embeddings-huggingface
ratelimit
anthropic