streamlit
numpy 
pandas
openai
python-dotenv
langchain 
pinecone-client 
llama-index
llama-index-vector-stores-pinecone 
weaviate-client
llama-index-vector-stores-weaviate 
llama-index-embeddings-huggingface
streamlit
ratelimit
anthropic